<h1>Password Generator</h1>
<div>
  <label>Enter Length</label>
  <input type="number" min="0" (input)="onLengthChange($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onLettersChange()" type="checkbox">
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="onNumbersChange()" type="checkbox">
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onSymbolsChange()" type="checkbox">
</div>


<div>
  <!-- event binding syntax -->
  <button
    [disabled]="
    !(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your password</label>
  <!-- property binding syntax -->
  <input [value]="password" />
</div>
